<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>Formulario de Registro</h1>
    <form action="/posts/{{item.id}}/edit" method="post">
        <div>
            <label for="content">Contenido</label>
            <br>
            <textarea name="content" id="content">{{item.content}}</textarea>
        </div>
        <div>
            <label for="owner_id">Creador</label>
            <select name="owner_id" id="owner_id">
                {% for user in users %}
                {% if user.id == item.owner_id %}
                <option value="{{ user.id }}" selected>{{ user.firstname }} {{ user.lastname }}</option>
                {% else %}
                <option value="{{ user.id }}">{{ user.firstname }} {{ user.lastname }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>

        <button type="submit">Actualizar Post</button>

    </form>

</body>

</html>